.table {
  margin: 0 auto;
  width: 600px;
  border-collapse: collapse;
  background-color: #fff;
  text-align: center;
}

.thead {
  color: #fff;
  background-color: #312d2d;
  text-transform: capitalize;
}

.td {
  padding: 10px;
  border: 3px solid #000;
  text-transform: capitalize;
  font-weight: 600;
}

.th {
  padding: 10px;
  border: 3px solid #000;
}

.tr {
  &:nth-of-type(even) {
    background-color: lightgrey;
  }
}
